{% extends 'main/base.html' %}

{% block title %}Add Post{% endblock %}

{% block body %}
<div class="col-sm-12">
  {% if error_messages %}
  <h3 style="color:#8e2020;font-weight:bold;">Errors:</h3>
  
    {% for message in error_messages %}
    <h3 style="color:#8e2020;font-weight:bold;">{{ message }}</h3>
    {% endfor %}
    
  {% endif %}
  
  <form role="form" action="{% url 'main:add_post' %}" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}
    
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" name="title" required="required" pattern={{titlePattern}} placeholder="Title" value="{{titleAttempted}}">
    </div>
    
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea class="form-control" name="content" placeholder="Enter content here..." rows="3">{{contentAttempted}}</textarea>
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}