{% extends 'main/base.html' %}

{% block title %}Posts{% endblock %}

{% block body %}
<div class="col-sm-12">
    <nav aria-label="breadcrumb" style="color:black;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Forum Home</a></li>
      </ol>
    </nav>
    <a href="{% url 'main:add_post' %}"><button type="button" class="btn btn-success btn-lg btn-block">Add Post</button></a>
    {% for post in posts %}
    <h1>Title: {{post.title}}</h1>
    <h1>User that posted: {{post.user_profile}}</h1>
    <h1>Content: {{post.content}}</h1>
    <h1>=======================</h1>
    {% endfor %}
</div>
{% endblock %}